<!--

=========================================================
* Paper Kit React - v1.3.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-kit-react
* Copyright 2022 Creative Tim (http://www.creative-tim.com)

* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="https://zlynt.github.io/icon16.png" />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="https://zlynt.github.io/apple-icon.png"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="manifest" href="https://zlynt.github.io/manifest.json" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Reh@Store</title>
    <style>
      @keyframes float {
        0% {
          transform: translatey(0);
        }
        40% {
          transform: translatey(-10px);
        }
        100% {
          transform: translatey(0);
        }
      }
    </style>
    <script
      defer="defer"
      src="https://zlynt.github.io/static/js/main.a2eb6998.js"
    ></script>
    <link
      href="https://zlynt.github.io/static/css/main.c624d642.css"
      rel="stylesheet"
    />
  </head>
  <body class="sidebar-collapse">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>
