<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/partial_header') %>

        <%- include('../dependencies/bootstrap') %>
            <%- include('../dependencies/react') %>

                <link rel="stylesheet" href="/css/admin/index.css">
</head>

<body>
    <div id="root">

    </div>

    <!-- Import Page Scripts -->
    <script src="/js/admin/index.jsx" type="text/babel"></script>
</body>

</html>