@font-face {
    font-family: "Meedori Sans";
    src: url("../../dependencies/webfonts/Meedori-Sans-Regular.ttf");
}

@font-face {
    font-family: "Meedori Sans";
    src: url("../../dependencies/webfonts/Meedori-Sans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Meedori Sans";
    src: url("../../dependencies/webfonts/Meedori-Sans-Light.ttf");
    font-weight: lighter;
}

body {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

.container {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
}

#root {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    color: #8EA4D2;
    background-color: #283044;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(5.5vh + 5.5vw);
    z-index: 0;
}

.title {
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    font-family: "Meedori Sans";
}

.title .part1 {
    color: rgb(249, 142, 27);
}

.title .part2 {
    color: white;
}

.loginForm {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 90%;
    height: 60%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-app-region: no-drag;
}

input {
    transition-duration: 0.2s;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #8EA4D2;
    background-color: #283044;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(249, 142, 27);
    width: 60%;
    z-index: 0;
    -webkit-app-region: no-drag;
}

input:hover {
    transition-duration: 0.2s;
    width: 70%;
    border-bottom: 2.5px solid rgb(249, 142, 27);
}

input:focus {
    transition-duration: 0.2s;
    width: 70%;
    border-bottom: 2.5px solid rgb(249, 142, 27);
}

button {
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #283044;
    background-color: #F98E1B;
    -webkit-app-region: no-drag;
}

button:hover {
    transition-duration: 0.2s;
    cursor: pointer;
    color: #F98E1B;
    background-color: #3C4867;
}

.forgotPassword {
    text-align: center;
    font-size: 20px;
    -webkit-app-region: no-drag;
}

.forgotPassword .forgotPasswordLink {
    cursor: pointer;
    text-decoration: none;
    color: #F98E1B;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.forgotPassword .forgotPasswordLink:hover {
    transition-duration: 0.2s;
    color: #8EA4D2;
}

.registerText {
    text-align: right;
    font-size: 20px;
    -webkit-app-region: no-drag;
}

.registerText .registerLink {
    cursor: pointer;
    text-decoration: none;
    color: #F98E1B;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.registerText .registerLink:hover {
    transition-duration: 0.2s;
    color: #8EA4D2;
}

@keyframes loadingAnimation {
    0% {
        color: #8EA4D2;
    }

    50% {
        color: #283044;
    }

    100% {
        color: #8EA4D2;
    }
}

.loginStatus {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    animation-name: loadingAnimation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.brain_img{
    height: 3.5rem;
}