<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= siteName %>
    </title>

    <%- include('../dependencies/bootstrap') %>
</head>

<body>
    <%- include('../partials/navbar') %>

        <style>
            header {
                padding: 156px 0 100px;
            }

            section {
                padding: 150px 0;
            }

            body {
                background-color: #1abc9c !important;
            }
        </style>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title text-center">Reset your password</h2>
                            </div>
                            <div class="card-body">
                                <form class="row g-3 needs-validation" novalidate>

                                    <div class="form-floating col-md-12 has-validation">
                                        <input type="password" class="form-control" id="inputPassword"
                                            aria-describedby="inputPasswordHelp" placeholder="Password" required>
                                        <label for="inputPassword">Password</label>
                                        <div class="invalid-feedback">
                                            Please type a new password.
                                        </div>
                                        <small id="inputPasswordHelp" class="form-text text-muted">
                                            Your new password must be minimum 8 characters and maximum 30
                                            characters, have at least one letter and one number.
                                        </small>
                                    </div>

                                    <div class="form-floating col-md-12 has-validation">
                                        <input type="password" class="form-control" id="inputConfirmPassword"
                                            placeholder="Confirm Password" required>
                                        <label for="inputConfirmPassword">Confirm Password</label>
                                        <div class="invalid-feedback">
                                            Please retype your new password
                                        </div>
                                    </div>

                                    <div class="col-5">
                                        <button class="btn btn-primary" type="submit">Reset your password</button>
                                    </div>

                                    <div class="col-1" style="display: none;" id="loading_Symbol">
                                        <div class="spinner-border text-primary" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>

                                    <div class="col-6"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="passwordResetModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="passwordResetModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Registration status</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5 id="passwordResetTitle"></h5>
                        <p id="passwordResetMessage"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/reset_password.js"></script>

</body>

</html>